body {
    color: #000000;
}

#footer {
    text-align: center;
    border-top: 1px solid #b5cce3;
    width: 78em;
    margin: 2em auto 0;
    font-size: 0.7em;
}

a { color: #55757B; }

#site {
}

.context-nav,
ul.breadcrumbs {
    list-style-type: none;
    padding: 0;
    position: absolute;
}

.context-nav { right:0; }

.breadcrumbs li { display: inline; }
.breadcrumbs a {
    text-decoration: none;
    color: #4D6680;
}

.context-nav a {
    color: #4D6680;
}

.breadcrumbs a:hover { text-decoration: underline; }
.breadcrumbs .separator { color: #4f6072; }

#sitenav {
    text-align: center;
    border-bottom: .2em solid #4d6680;
    padding-bottom: 0.2em;
}

#sitenav ul { list-style-type: none; }

#sitenav li {
    display: inline;
    margin-left: .2em;
}

#sitenav a {
    text-decoration: none;
    padding: 0.2em;
    background-color: #b5cce3;
    color: #4d6680;
}

#sitenav .selected a {
    background-color: #4d6680;
    color: #b5cce3;
}

#content-header{
    padding-bottom:.5em;
}

#content-header h1{
    border-bottom: 1px dotted #4d6680;
    margin-bottom:.5em;
}

.post-date{
    float:right;
    font-style:italic;
    font-size:.8em;
    
}
